In [1]:
# importing pandas as pd 
import pandas as pd 
  
# Check the version 
print(pd.__version__)

1.0.5

In [2]:
# import pandas as pd 
import pandas as pd 
  
# simple list 
lst = ['G','E','E','K','S','F', 
       'O','R','G','E','E','K','S'] 
  
# forming series 
s = pd.Series(lst) 
  
# output 
print(s)

0     G
1     E
2     E
3     K
4     S
5     F
6     O
7     R
8     G
9     E
10    E
11    K
12    S
dtype: object

In [4]:
import pandas as pd 
  
  
# Creating the dataframe df 
df = pd.DataFrame({'Roll Number': ['30CSE29', '24CSE49', '28CSE36', '29CSE44'], 
                   'Name': ['Aryan', 'Samiksha', 'Dean', 'Kumud'], 
                   'Marks In Percentage': [94, 90, 70, 52], 
                   'Grade': ['A', 'A', 'B', 'C'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
  
# Printing the dataframe 
df

  Roll Number      Name  Marks In Percentage Grade  Subject
0     30CSE29     Aryan                   94     A  Physics
1     24CSE49  Samiksha                   90     A  Physics
2     28CSE36      Dean                   70     B  Physics
3     29CSE44     Kumud                   52     C  Physics

In [8]:
In[4]: import numpy as np
       x = np.linspace(0, 10, 100)

       fig = plt.figure()
       plt.plot(x, np.sin(x), '-')
       plt.plot(x, np.cos(x), '--');

SyntaxError: invalid syntax (<ipython-input-8-4a68cb6f94a1>, line 1)

In [9]:
import pandas as pd 
  
# Creating the dataframe with dict of lists 
df = pd.DataFrame({'Name': ['Alto', 'Indigo', 'BMW', 'Mercedes'], 
                   'Brand': ['Tata Motors', 'Tata Motors', 'US', 'US',],
                   'Sign': ['A', 'I', 'BMW', 'Horse',], 
                   'Rate': [500000,500000,10000000,20000000]}, 
                   
print(df, "\n") 
  
print("Check Brand in rate column:\n") 
df1 = df['Brand'].str.contains("Rate") 
print(df1)

SyntaxError: invalid syntax (<ipython-input-9-c8ca2e636f90>, line 11)